/**
 *
 * Custom styling.
 *
 */


// Font overrides.

$font-regular:    "permianseriftypefaceregular";
$font-bold:       "permianseriftypefacebold";

body {
  font: 1em/1.5 $font-regular, "Helvetica Neue", Helvetica, Arial, serif;
}

.dragslider h2,
.dragslider h2 span {
  font-family: $font-regular;
}


.logo {
  min-width: 300px;
  max-width: 400px;

  fill: #fff;
}

button.content-switch {
  border-radius: 100%;
  height: 125px;
  width: 125px;

  opacity: 1;
}

button.content-switch:hover {
  border-color: $link-color;
  color: $link-color;
}

button.content-switch::before {
  font-size: 4em;
  line-height: .35;
}

.dragslider h2 span {
  padding-top: 1em;
}


