/**
 *
 * Custom styling.
 *
 */


// Font overrides.

$font-regular:    "permianseriftypefaceregular";
$font-bold:       "permianseriftypefacebold";

body {
  background-color: rgba(0, 0, 0, .9);
  font: 1em/1.5 $font-regular, "Helvetica Neue", Helvetica, Arial, serif;
}

.dragslider h2,
.dragslider h2 span,
.pages .content p {
  font-family: $font-regular;
}


.logo {
  width: 300px;
  fill: $primary-color;
}

button.content-switch {
  border-radius: 100%;
  height: 75px;
  width: 75px;

  opacity: 1;
  text-indent: 300%;

  transition: all .25s;
}

button.content-switch:hover {
  border-color: $link-color;
  color: $link-color;
}

button.content-switch::before {
  font-size: 3em;
  line-height: .35;
}

.dragslider h2 {
  z-index: 99;
}

.dragslider h2 span {
  padding-top: 1em;
}


.img-wrap img {
  opacity: 1;
}

.img-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;

  content: "";

  background-color: rgba(60, 60, 60, .6);
}

.img-dragger-small .slide h2 {
  color: rgb(193, 193, 193);
}


button.header-switch {

  position: absolute;
  top: 50%;
  width: 75px;
  height: 75px;
  z-index: 999;

  border: 0;
  color: #fff;
  background: transparent;
  line-height: 0;
  border-radius: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-size: 0.85em;
  text-indent: 50em;

  &.left-button {
    left: 2em;
     -webkit-transform: rotate(90deg);
  }
  &.right-button {
    right: 2em;
    -webkit-transform: rotate(-90deg);
  }
}

button.header-switch::before {

  content: "\e097";
  font-family: "feathericons";
  speak: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 3em;
  font-weight: 400;
  left: 0;
  text-indent: 0;
    -webkit-font-smoothing: antialiased;

}

button.header-switch:hover {
  border-color: $link-color;
  color: $link-color;
}

// Hide left and right links when using menu

.switch-min {
  .header-switch {
    display: none;
  }
}


// Move button after scroll and add background color

.show-content .current button.content-switch {
  margin-top: -4em;

  border-color: $white;
  color: $white;

  &:hover {
    border-color: $link-color;
    color: $link-color;
  }
}

.show-content .content-switch-background {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 7.5em;
  background-color: rgba(0, 0, 0, .9);
}
