
.content-media{
  float: left;
display: inline-block;
  .text{
    p{
      }
    h3{
      text-align: left;
    }
    h4{
      text-align: left;
    }

  }


  .media{

    img{
      width: 25%;
      display: inline-block;
    }

  }




}
