{% extends "frontpage" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
    <article>
      <div class="event--content">
                    <div class="event--main">
                        <div class="fields--lead">
                            <div class="fields--lead-item">{{ page.type }}</div>
                        </div>
        <div class="fields--body">
            <div class="fields--body-item">
            {{ page.blocks.content|raw }}
            </div>
        </div>
          </div>
        <div class="event--aside">
            <img src="{{ page.image }}" width="300" height="300" alt="{{ page.title }}">
            <div class="event--asidebox">
                          <h2 class="event--asideheading">
                            <span class="fields--aside-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
<path d="M29.6,20c0,2.8,2.2,5,5,5s5-2.2,5-5V5c0-2.8-2.2-5-5-5s-5,2.2-5,5V20z"></path>
                  <path d="M88.6,20c0,2.8,2.2,5,5,5s5-2.2,5-5V5c0-2.8-2.2-5-5-5s-5,2.2-5,5V20z"></path>
                  <rect x="24.5" y="54" width="12" height="12"></rect>
                  <rect x="91.5" y="54" width="12" height="12"></rect>
                  <rect x="24.5" y="96" width="12" height="12"></rect>
                  <rect x="24.5" y="75" width="12" height="12"></rect>
                  <rect x="46.8" y="54" width="12" height="12"></rect>
                  <rect x="69.2" y="54" width="12" height="12"></rect>
                  <rect x="91.5" y="75" width="12" height="12"></rect>
                  <rect x="46.8" y="75" width="12" height="12"></rect>
                  <rect x="69.2" y="75" width="12" height="12"></rect>
                  <rect x="46.8" y="96" width="12" height="12"></rect>
                  <rect x="69.2" y="96" width="12" height="12"></rect>
                  <path d="M113,10h-9.5v9.8c0,5.5-4.5,10-10,10s-10-4.5-10-10V10h-39v9.8c0,5.5-4.5,10-10,10s-10-4.5-10-10V10H15C6.7,10,0,16.7,0,25
	v88c0,8.3,6.7,15,15,15h98c8.3,0,15-6.7,15-15V25C128,16.7,121.3,10,113,10z M118.5,110.3c0,4.4-3.6,8-8,8h-93c-4.4,0-8-3.6-8-8v-66
	h109V110.3z"></path>
</svg>
</span>
                                Dato og tidspunkt        </h2>
                                <p class="event--date">{{ page.startdate }}</p>
                          <p>{{ page.starttime }} - {{page.endtime}}</p>
                          <p class="event--doors">
                          </p>
                      </div>

                      <div class="event--asidebox">
                          <h2 class="event--asideheading">
        <span class="fields--aside-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 141.5" enable-background="new 0 0 100 141.5" xml:space="preserve">
<path d="M50,0C22.4,0,0,22.5,0,50.4c0,26.3,22.6,60.2,37.8,76.7c5.6,6.2,12.2,14.5,12.2,14.5s7.1-8.3,13.1-14.7
C78.2,111,100,79.2,100,50.4C100,22.5,77.6,0,50,0 M50,72.9c-12.5,0-22.6-10.2-22.6-22.8c0-12.6,10.1-22.8,22.6-22.8
s22.6,10.2,22.6,22.8C72.6,62.7,62.5,72.9,50,72.9"></path>
</svg>
</span>
                              Lokale og arrangør        </h2>

                          <p class="event--room">

                              {{ page.location }}

                          </p>
                          <p>

                              {{ page.host }}

                          </p>
                      </div>
                      <div class="event--asidebox">
                          <h2 class="event--asideheading">
        <span class="fields--aside-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 114.1 114.1" enable-background="new 0 0 114.1 114.1" xml:space="preserve">
<path fill="#010202" d="M86.4,8.6L79,1.2c-1.6-1.6-4.1-1.6-5.7,0L59.2,15.2c0.1,0,0.1,0.1,0.2,0.1l1.7,1.7c0.8,0.8,0.8,2,0,2.8
l-0.3,0.3c-0.8,0.8-2,0.8-2.8,0l-1.7-1.7c0,0-0.1-0.1-0.1-0.2l-55,55c-1.6,1.6-1.6,4.1,0,5.7l7.4,7.4c5.3-5.3,13.8-5.3,19.1,0
c5.3,5.3,5.3,13.8,0,19.1l7.4,7.4c1.6,1.6,4.1,1.6,5.7,0l55.1-55.1c-0.1,0-0.1-0.1-0.2-0.1L94,56c-0.8-0.8-0.8-2,0-2.8l0.3-0.3
c0.8-0.8,2-0.8,2.8,0l1.7,1.7c0,0,0.1,0.1,0.1,0.2l14-14c1.6-1.6,1.6-4.1,0-5.7l-7.4-7.4c-5.3,5.3-13.8,5.3-19.1,0
C81.1,22.4,81.1,13.9,86.4,8.6z M91.3,47.1c0.8,0.8,0.8,2,0,2.8L91,50.2c-0.8,0.8-2,0.8-2.8,0l-1.7-1.7c-0.8-0.8-0.8-2,0-2.8
l0.3-0.3c0.8-0.8,2-0.8,2.8,0L91.3,47.1z M83.8,39.5c0.8,0.8,0.8,2,0,2.8l-0.3,0.3c-0.8,0.8-2,0.8-2.8,0L79,40.9
c-0.8-0.8-0.8-2,0-2.8l0.3-0.3c0.8-0.8,2-0.8,2.8,0L83.8,39.5z M76.2,32c0.8,0.8,0.8,2,0,2.8L76,35.1c-0.8,0.8-2,0.8-2.8,0l-1.7-1.7
c-0.8-0.8-0.8-2,0-2.8l0.3-0.3c0.8-0.8,2-0.8,2.8,0L76.2,32z M68.7,24.5c0.8,0.8,0.8,2,0,2.8l-0.3,0.3c-0.8,0.8-2,0.8-2.8,0
l-1.7-1.7c-0.8-0.8-0.8-2,0-2.8l0.3-0.3c0.8-0.8,2-0.8,2.8,0L68.7,24.5z"></path>
</svg>
</span>
                              Pris og billet        </h2>

                          <p class="event--price">
                              {{ page.price }}         </p>
                          <p class="event--tickettext">



                          </p>
                          <p class="event--ticketlink"></p>
                      </div>
                  </div>

              </div>

              <div class="page-links">

              </div>







        {% if page.categories %}
            <p class="categories">
            Categories:
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        {% if page.tags %}
            <p class="tags">
            Tags:
            {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}

        {% if page.previous_post or page.next_post %}
            <nav class="article">
                <ul>
                    {% if page.next_post %}
                        <li>Next: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
                    {% endif %}
                    {% if page.previous_post %}
                        <li>Previous: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
      </div>
    </article>


{% if site.disqus.shortname and site.disqus.shortname != '' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{site.disqus.shortname}}'; // required: replace example with your forum shortname


    {% if page.disqus.identifier  %}var disqus_identifier = '{{page.disqus.identifier}}'; {% endif %}

    {% if page.disqus.title %}var disqus_title = '{{page.disqus.title}}';{% endif %}

    {% if page.disqus.url %}var disqus_url = '{{page.disqus.url}}';{% endif %}

    {% if page.disqus.category_id %}var disqus_category_id = '{{page.disqus.category_id}}';{% endif %}

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered byDisqus.</a>
</noscript>
{% endif %}

{% endblock %}
