<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{ page.title }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ site.url }}/css/styles.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/menu-toggle.js"></script>
</head>
<body>

<div class="overlay js-menu-toggle"></div>
<header role="banner">
  <nav class="nav">
    <div class="nav--logo"><a href="index.php">Logo</a></div>
    <div class="nav--links">
      <a href="#" class="nav--link">Link</a>
    </div>
    <button class="nav--menu c-hamburger js-menu-toggle">
      <span>toggle menu</span>
    </button>
  </nav>
  <nav class="hamburger-menu">
    <button class="c-hamburger c-hamburger--htx js-menu-toggle">
      <span>toggle menu</span>
    </button>
    <div class="hamburger-menu--links">
      <a href="siteone.php" class="hamburger-menu--link">MenuPunkt1</a>
      <a href="sitetwo.php" class="hamburger-menu--link">MenuPunkt2</a>
      <a href="sitethree.php" class="hamburger-menu--link">MenuPunkt3</a>
      <a href="sitefour.php" class="hamburger-menu--link">Menupunkt4</a>
    </div>
  </nav>
</header>

<header class="header" role="banner" id="home">
  <div class="header--inner">
    <h1 class="header--big">Digitale Fodspor</h1>
    <p class="header--lead">Hvor peger dine digitale fodspor hen? Hvem kan se hvad du laver på nettet?</p>
    <p class="header--sub">Det går stærkt online, bliv klogere på hvad det koster at bruge gratis services som Facebook, Twitter, LinkedIn og Instagram.</p>
    <a href="#" class="header--arrow">
      {% include 'images/circle-arrow.html.twig' %}
    </a>
  </div>
</header>
</body>
</html>
