<div class="content" data-content="content-{{ counter }}">
        <h2>{{ post.headermain }} <span>{{ post.headerlead }}</span></h2>
        <p><p>{{ post.blocks.content|raw }}</p>
        </p>
      </div>
