@font-face {
    font-family: 'permianseriftypefacebold';
    src: url('fonts/permianserif/PermianSerifTypeface-Bold-webfont.eot');
    src: url('fonts/permianserif/PermianSerifTypeface-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/permianserif/PermianSerifTypeface-Bold-webfont.woff') format('woff'),
         url('fonts/permianserif/PermianSerifTypeface-Bold-webfont.ttf') format('truetype'),
         url('fonts/permianserif/PermianSerifTypeface-Bold-webfont.svg#permianseriftypefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

