/**
 *
 * Variables
 *
 */


/* Breakpoints
   ================================================================================================================== */


$breakpoint-lap:              481px;
$breakpoint-lap-big:          581px;
$breakpoint-tablet:           720px;
$breakpoint-desk:             1024px;
$breakpoint-bigscreen:        1200px;


/* Layout
   ================================================================================================================== */

$layout-max-width:            62.5em;
$border-radius:               .6em !default;


/* Elements
   ================================================================================================================== */

$nav-height:  80px;


/* Colors
   ================================================================================================================== */

$black:            #000;
$white:            #fff;
$menu-color:       dimgray;
$link-color:       blue;
$link-color-hover: gold;
$grey-border:      #D8D8D8;
$orange:           #D2411E;

/* Typography
   ================================================================================================================== */

$font-family:      "Cabin Sketch", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font:             1em/1.5 $font-family;


