<div class="slide" data-content="content-1">
<div class="img-wrap"><img src="{{ post.background-image }}" alt="img1"/></div>
<h2>{{ post.header-big }}<span>{{ post.header-lead }}</span></h2>
<button class="content-switch">Read more</button>
</div>
