/**
 *
 * Header.
 *
 */


.header {
  height: 100%;
  width: 100%;

  background: url('../images/header-mobile.jpg') no-repeat;
  background-size: cover;
  color: #fff;

  &--image {
   position: absolute;
  }
  // Header inner
  &--inner {
    box-sizing: border-box;
    height: 100%;
    max-width: $layout-max-width;
    margin-right: auto;
    margin-left: auto;

    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);
  }

  &--big,
  &--lead,
  &--sub {
    text-shadow: 2px 2px 0 transparentize(#000, .5);

    @include align-self(flex-start);
  }

  &--big {
    margin-top: -.5em; // Compensate for font height

    font-size: 2em;
    font-weight: 600;

    @include breakpoint($breakpoint-lap) {
      margin-bottom: .25em;

      font-size: 7em;
    }
  }

  &--lead {
    margin-bottom: 2em;

    font-weight: 300;

    @include breakpoint($breakpoint-lap) {
      margin-bottom: .5em;

      font-size: 2em;
    }
  }

  &--sub {
    margin-bottom: 2em;

    @include breakpoint($breakpoint-lap) {
      margin-bottom: 1.75em;

      font-size: 1.25em;
    }
  }

  &--arrow {
    position: relative;

    width: 7em;

    transform: rotate(-90deg);
  }
}

.svg-circle {
  height: 7em;
  width: 7em;

  transform: rotate(180deg);

  #circle1 {
    fill: transparent;
    stroke: white;
    stroke-width: 5;
  }

  #circle2 {
    fill: transparent;
    stroke: transparent;
    stroke-width: 5;
    stroke-dasharray: 0 3140;

    transition: stroke-dasharray 2s;
  }

  polygon {
    fill: $white;
  }

  &:hover {
    #circle2 {
      stroke-dasharray: 3140 3140;
      stroke: $link-color;
    }

    polygon {
      fill: $link-color;
    }
  }
}


