---
layout: frontpage
title: begivenheder
headerimage: https://unsplash.it/3200/2400/?random
use: [events]
---
{% block content_wrapper %}

  <p class="lead">This title is static on the eventspage</p>

  <div class="itk-boxlist">

    {% for event in data.events %}

      {% include 'includes/_eventbox.html' ignore missing %}

    {% endfor %}

  </div>



{% endblock %}
