---
layout: frontpage
title: Digitale Fodspor
generator: pagination
pagination:
use:
- posts
---

<header id="header" class="codrops-header">
  <h1 class="logo">{% include 'includes/images/logo.html.twig' %}</h1>
  <button class="slider-switch">Switch view</button>
</header>
<div id="slideshow" class="dragslider">
  <section class="img-dragger img-dragger-large dragdealer">
    <div class="handle">
      {% set counter = 1 %}
      {% for post in page.pagination.items %}
      {% include 'includes/_headerview.html.twig' ignore missing %}
      {% set counter = counter + 1 %}
      {% endfor %}
    </div>
  </section>
  <section class="pages">
    {% set counter = 1 %}
    {% for post in page.pagination.items %}
    {% include 'includes/_subview.html.twig' ignore missing %}
    {% set counter = counter + 1 %}
    {% endfor %}
  </section>
</div>
